*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
keystore.properties
altitude-overlay.keystore
new-altitude-overlay.keystore
*.keystore
*.jks
*.keystore
*.jks
keystore.properties
app/build/
**/build/
